name: CI

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        version: "latest"

    - name: ruff check
      run:  uv tool run ruff check

    - name: ruff sort imports
      run:  uv tool run ruff check --select I

    - name: ruff format
      run:  uv tool run ruff format --check
