/*
Functions and routines associated with Enasis Network Common Library.

This file is part of Enasis Network software eco-system. Distribution
is permitted, for more information consult the project license file.
*/



/********************************************/
/* Standard structure for duration elements */
/********************************************/

div.encommon_duration {
  display: inline-block; }



/********************************************/
/* Extended structure for duration elements */
/********************************************/

div.encommon_duration
 >._value {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1rem; }

div.encommon_duration
 >._unit {
  font-family: monospace;
  font-size: .9rem;
  line-height: .9rem;
  opacity: .75; }



/********************************************/
/* Extended structure for datagrid elements */
/********************************************/

table.encommon_datagrid
 >tbody>tr>td:has(.encommon_duration) {
  text-align: center; }
