
.context-menu[data-v-4f9e01e5] {
  position: fixed;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  user-select: none;
}
.context-menu ul[data-v-4f9e01e5] {
  list-style: none;
  padding: 0;
  margin: 0;
}
.context-menu li[data-v-4f9e01e5] {
  padding: 8px 16px;
  cursor: pointer;
}
.context-menu li.disabled[data-v-4f9e01e5] {
  color: #ccc;
  cursor: not-allowed;
}
.context-menu li[data-v-4f9e01e5]:hover:not(.disabled) {
  background-color: #f0f0f0;
}

.items-container[data-v-fd7e6af1] {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Space between items */
}
.item-box[data-v-fd7e6af1] {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  font-size: 12px; /* Font size set to 12px */
  position: relative;
}
.remove-btn[data-v-fd7e6af1] {
  margin-left: 8px;
  cursor: pointer;
  color: #100f0f72;
  font-weight: bold;
}

.context-menu[data-v-9746d208] {
  position: fixed;
  z-index: 1000;
  border: 1px solid #ccc;
  background-color: white;
  padding: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.context-menu ul[data-v-9746d208] {
  list-style: none;
  padding: 0;
  margin: 0;
}
.context-menu li[data-v-9746d208] {
  padding: 8px 16px;
  cursor: pointer;
}
.context-menu li[data-v-9746d208]:hover {
  background-color: #f0f0f0;
}
.switch-container[data-v-9746d208] {
  display: flex;
  align-items: center;
  margin: 12px;
}
.switch-container span[data-v-9746d208] {
  margin-right: 10px;
}
