[buildout]
find-links = https://pypi.python.org/simple/lovely.buildouthttp
             https://pypi.python.org/simple/zc.buildout
             https://pypi.python.org/simple/setuptools
             https://pypi.python.org/simple/distribute
             https://pypi.python.org/simple/WebOb
             https://pypi.python.org/simple/WebTest

versions = versions
develop = .
parts = test
        coverage-test coverage-report
        py


[versions]
setuptools = 44.1.1
zc.buildout = 2.13.3
beautifulsoup4 = 4.9.3
lxml = 4.9.4
WebTest = 2.0.35
WebOb = 1.8.7
soupsieve = 1.9.6
backports.functools-lru-cache = 1.6.6
pyflakes = 2.1.1
flake8 = 3.7.9
pycodestyle = 2.5.0
mccabe = 0.6.1


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = p01.testbrowser [test]
       future


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.testbrowser [test]
defaults = ['--coverage', '${buildout:directory}/coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs =
    z3c.coverage
scripts = coveragereport
arguments = ('${buildout:directory}/coverage',
             '${buildout:directory}/coverage/report')


[py]
recipe = zc.recipe.egg
eggs = p01.testbrowser
interpreter = python

