/*
Functions and routines associated with Enasis Network Homie Automate.

This file is part of Enasis Network software eco-system. Distribution
is permitted, for more information consult the project license file.
*/



/*****************************************/
/* Extended structure for image elements */
/*****************************************/

.encommon_svgicon[data-image='ambient'] {
  background-color: rgba(var(--pretty), 1);
  mask-image: url('/static/images/ambient');
  -webkit-mask-image: url('/static/images/ambient'); }

.encommon_svgicon[data-image='contact'] {
  background-color: rgba(var(--pretty), 1);
  mask-image: url('/static/images/contact');
  -webkit-mask-image: url('/static/images/contact'); }

.encommon_svgicon[data-image='datestamp'] {
  background-color: rgba(var(--pretty), 1);
  mask-image: url('/static/images/datestamp');
  -webkit-mask-image: url('/static/images/datestamp'); }

.encommon_svgicon[data-image='datesince'] {
  background-color: rgba(var(--pretty), 1);
  mask-image: url('/static/images/datesince');
  -webkit-mask-image: url('/static/images/datesince'); }

.encommon_svgicon[data-image='motion'] {
  background-color: rgba(var(--pretty), 1);
  mask-image: url('/static/images/motion');
  -webkit-mask-image: url('/static/images/motion'); }

.encommon_svgicon[data-image='presence'] {
  background-color: rgba(var(--pretty), 1);
  mask-image: url('/static/images/presence');
  -webkit-mask-image: url('/static/images/presence'); }



/*****************************************/
/* Extended structure for image elements */
/*****************************************/

.encommon_svgicon[data-image='closed'] {
  background-color: rgba(var(--color-green-lite), 1);
  mask-image: url('/static/images/closed');
  -webkit-mask-image: url('/static/images/closed'); }

.encommon_svgicon[data-image='opened'] {
  background-color: rgba(var(--color-yellow-lite), 1);
  mask-image: url('/static/images/opened');
  -webkit-mask-image: url('/static/images/opened'); }
