/*
Functions and routines associated with Enasis Network Homie Automate.

This file is part of Enasis Network software eco-system. Distribution
is permitted, for more information consult the project license file.
*/



/*******************************************/
/* Extended structure for statate elements */
/*******************************************/

.encommon_statate[data-status='closed'] {
  background-color: rgba(var(--color-green-lite), .15);
  border-color: rgba(var(--color-green-lite), .9); }

.encommon_statate[data-status='opened'] {
  background-color: rgba(var(--color-yellow-lite), .15);
  border-color: rgba(var(--color-yellow-lite), .9); }
