/*
Functions and routines associated with Enasis Network Homie Automate.

This file is part of Enasis Network software eco-system. Distribution
is permitted, for more information consult the project license file.
*/



/*****************************************/
/* Extended structure for image elements */
/*****************************************/

:root {
  --svgicon-failure: url('/static/images/failure');
  --svgicon-information: url('/static/images/information');
  --svgicon-success: url('/static/images/success');
  --svgicon-warning: url('/static/images/warning'); }



/**********************************/
/* Elements which are very common */
/**********************************/

body {
  padding: .75rem 1rem .75rem 1rem; }
