[buildout]
find-links = https://files.pythonhosted.org/packages/18/08/fea800f1a27f235020c1888f6c23311af1d2a3fa1266a35e905ed51cae03/p01.testbrowser-3.0.1.tar.gz
develop = .
          ../../p01.publisher/trunk
          ../../p01.testbrowser/trunk
versions = versions
parts = py
        test
        checker
        coverage-test
        coverage-report


[versions]
setuptools = 44.1.1
zc.buildout = 2.13.3
beautifulsoup4 = 4.9.3
lxml = 4.9.4
webtest = 2.0.35
webob = 1.8.7
soupsieve = 1.9.6
zope.publisher = 6.1.0
p01.testbrowser = 3.0.1
backports.functools-lru-cache = 1.6.6


[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
       future
interpreter = py

[test]
recipe = zc.recipe.testrunner
eggs = p01.jsonrpc [test]
       future

[checker]
recipe = p01.recipe.setup:importchecker
path = src/p01/jsonrpc


[coverage-test]
recipe = zc.recipe.testrunner
eggs = p01.jsonrpc [test]
       future
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
       future
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
