[project]
name = "fuse-cli"
version = "1.1.2"
description = "Fuse: Customizable wordlist generator with advanced pattern."
authors = [
    { name="Ryan R.", email="dev.richarlison@proton.me" }
]
readme = "README.md"
license = { text = "MIT" }
requires-python = ">=3.10"
dependencies = [

]

[project.scripts]
fuse = "fuse.cli:main"

[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
/(
   \.git
  | env
  | build
  | dist
)/
'''

[tool.mypy]
check_untyped_defs = true
disallow_untyped_defs = true
ignore_missing_imports = true
strict_optional = true
files = "fuse/"