[project]
name = "basebio"
version = "0.4.8"
description = ""
authors = [
    {name = "DeYing Zhang",email = "legendzdy@dingtalk.com"}
]
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "typer (>=0.15.2)",
    "sqlalchemy (>=2.0.40)",
    "retrying (>=1.3.4)",
    "pyyaml (>=6.0.2)",
]

[tool.poetry.scripts]
basebio = "basebio.main:app"

[[tool.poetry.source]]
name = "pypi2"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
priority = "primary"

[build-system]
requires = ["poetry-core>=2.0.0"]
build-backend = "poetry.core.masonry.api"
